*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(36, 36, 36);
    color: white;
    height: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.title {
    text-align: center;

}

.container-chat {
    width: 800px;
    height: 800px;
    background-color: #313338;
    border-radius: 7px;
}

.text {
    width: 85%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 25px;
    background-color: #383a40;
    color: white;
}

#send {
    height: 45px;
    padding: 0 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #383a40;
    color: #757564;
}

.messageOutput {
    margin-left: 15px;
    opacity: 0.8;
}

.messageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.output {
    height: 700px;
    width: 95%;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.messageUser{
    margin: 10px;
}

.output{
    overflow-y: auto;
}

.output::-webkit-scrollbar{
    width: 10px;
    background: transparent; 
}

.output::-webkit-scrollbar-thumb {
    background-color: #2b2d31;
    border-radius: 5px;
}

.user-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.user-nick {
    width: 295px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background: #383a40;
    color: white;
}

.user-span {
    margin-bottom: 16px;
    font-weight: bold;
    color: rgb(226, 230, 250);
}

